%table.table.table-condensed.table-bordered 
  %tr
    %th Tageshoroskop bearbeiten
  = form_for @horoscope_daily do |f|
    - if @horoscope_daily.errors.any?
      #error_explanation
        %h2= "#{pluralize(@horoscope_daily.errors.count, "error")} prohibited this horoscope_daily from being saved:"
        %ul
          - @horoscope_daily.errors.full_messages.each do |msg|
            %li= msg
    = hidden_field_tag "zodiac_id", (@horoscope_daily.new_record? ? "" : @horoscope_daily.zodiac_id), id: "zodiac_id"
    = hidden_field_tag "hro_m_id", (@horoscope_daily.new_record? ? "" : @horoscope_daily.id), id: "horo_m_id"
    %tr  
      %td= f.label :Date    
      %td
        = f.text_field  :date , 'data-behaviour' => 'datepicker',:value => ( @horoscope_daily.date ? @horoscope_daily.date : Date.today )
    %tr 
      %td= f.label :zodiac_id  
      %td= f.select :zodiac_id, ( @zodiacs.collect {|s| [s[:name], s[:id]]})
    %tr	
      %td= f.label :trend    
      %td= f.text_area :trend, :rows => 3,:class =>"input-block-level"
    %tr
      %td= f.label :money    
      %td= f.text_area :money , :rows => 3,:class =>"input-block-level"
    %tr		
      %td= f.label :love
      %td= f.text_area :love   , :rows => 3,:class =>"input-block-level"
    %tr	
      %td= f.label :health
      %td= f.text_area :health, :rows => 3,:class =>"input-block-level"
    %tr	
      %td= f.label :tip
      %td= f.text_area :tip, :rows => 3,:class =>"input-block-level"
    %tr	
      %td= f.label :published
      %td= f.check_box :published      
    %tr
      %td=f.submit 'Save',:class => 'btn btn-primary'
      %td= link_to "Cancel", horoscope_dailies_path,:class => 'btn'
      
  :javascript
    $('[data-behaviour~=datepicker]').datepicker({
          format: 'yyyy-mm-dd',
          "weekStart": 1,
          "todayBtn": "linked",
          autoclose: true,
          gotoCurrent: true
        });
