= form_for @horoscope_daily do |f|
  - if @horoscope_daily.errors.any?
    #error_explanation
      %h2= "#{pluralize(@horoscope_daily.errors.count, "error")} prohibited this horoscope_daily from being saved:"
      %ul
        - @horoscope_daily.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Date
    .controls
      = f.text_field  :date , 'data-behaviour' => 'datepicker'
  .field
    = f.label :zodiac_id
    .controls
      = f.select :zodiac_id, (Zodiac.all.collect  {|s| [s[:name], s[:id]]})
  .field
    = f.label :horoscope_trend
    .controls
      = f.text_area :horoscope_trend
  .field
    = f.label :horoscope_geld
    .controls
      = f.text_area :horoscope_geld
  .field
    = f.label :horoscope_liebe
    .controls
      = f.text_area :horoscope_liebe   
  .field
    = f.label :horoscope_gesundheit
    .controls
      = f.text_area :horoscope_gesundheit
  .field
    = f.label :horoscope_tipp
    .controls
      = f.text_area :horoscope_tipp
  .field
    = f.label :published
    .controls
      = f.text_field :published  
  .actions
    = f.submit 'Save',:class => 'btn btn-success btn-large'

:javascript
  $('[data-behaviour~=datepicker]').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true
      });

