%table.table.table-condensed.table-bordered 
  %tr
    %th Aktiv
    %th 
    %th Sternzeichen
    %th Horoskop
    %th Aktion      
    - @horoscope_dailies.each do |horoscope_daily|
      %tr
        %td
          - if horoscope_daily.id.present?
            = check_box_tag "published_#{horoscope_daily.id}", horoscope_daily.id, horoscope_daily.published, :class => "published"
        %td= horoscope_daily.published
        //%td= params[:date]
        %td= horoscope_daily.zodiac_name
        %td= horoscope_daily.trend
        - if horoscope_daily.id.present?
          %td              
            = link_to  "#{image_tag('edit.png')}  bearbeiten".html_safe,  edit_horoscope_daily_path(horoscope_daily.id)               
            %br= link_to "#{image_tag('delete.png')} löschen".html_safe, horoscope_daily, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td

:javascript
  $(function() {
    return $(".published").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/horoscope_dailies/publish_unpub_horoscope",
        data: {
          publish: id,
          b_val: publish
        },
        success: function(data) {
          return $("#index_content").html(data);
        },
        error: function(object, error) {
          return console.log(error);
        }
      });
    });
  });