%h1 Tageshoroskop
%form{:id=>"table-form", :action => "",:method => 'get'}
  %input{:type => "hidden",:value => "",:id=>"table-action",:name=>"table-action"}
  %input{:type => "hidden",:value => "token_value",:name=>"authenticity_token"}
  %div
    %input{:type => "text",:name=>"date", :value => params[:date], :id=> 'datepicker' ,:class=>"hasDatepicker"}
%div{:id => 'index_content'}
  = render 'indexform'

= link_to '+ Neues Horoskop', new_horoscope_daily_path, :class => 'btn btn-info'
%br
%br