%h1 Daily horoscope
.span8
  %table.table.table-condensed
    %tr
      %th Published
      %th Zodiac
      %th Horoscope
      %th 
      %th 

    - @horoscope_dailies.each do |horoscope_daily|
      %tr
        %td= horoscope_daily.published
        %td= horoscope_daily.zodiac.name
        %td= horoscope_daily.horoscope_trend
        %td= link_to 'bearbeiten', edit_horoscope_daily_path(horoscope_daily), :class => 'btn btn-mini'
        %td= link_to 'löschen', horoscope_daily, :method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-mini'

  %br

  = link_to 'New Horoscope daily', new_horoscope_daily_path


