= form_for @season do |f|
  - if @season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@season.errors.count, "error")} prohibited this season from being saved:"
      %ul
        - @season.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    / # = f.select :name, ( Season::SEASON_NAME)
    = f.text_field :name
  .field
    = f.label :date_from
    = f.text_field  :date_from
  .field
    = f.label :date_to
    = f.text_field  :date_to 
  .actions
    = f.submit 'Save'
