%h1 Listing seasons

%table
  %tr
    %th Name
    %th Date from
    %th Date to
    %th
    %th
    %th

  - @seasons.each do |season|
    %tr
      %td= season.name
      %td= season.date_from
      %td= season.date_to
      %td= link_to 'Show', season
      %td= link_to 'Edit', edit_season_path(season)
      %td= link_to 'Destroy', season, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Season', new_season_path
