= form_for @in_app_purchase do |f|
  - if @in_app_purchase.errors.any?
    #error_explanation
      %h2= "#{pluralize(@in_app_purchase.errors.count, "error")} prohibited this in_app_purchase from being saved:"
      %ul
        - @in_app_purchase.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :module_name
    = f.text_field :module_name
  .field
    = f.label :sandbox_id
    = f.text_field :sandbox_id
  .field
    = f.label :production_id
    = f.text_field :production_id
  .actions
    = f.submit 'Save'
