%h1 Listing in_app_purchases

%table
  %tr
    %th Module name
    %th Sandbox
    %th Production
    %th Action
    %th

  - @in_app_purchases.each do |in_app_purchase|
    %tr
      %td= in_app_purchase.module_name
      %td= in_app_purchase.sandbox_id
      %td= in_app_purchase.production_id
      %td= link_to 'Edit', edit_in_app_purchase_path(in_app_purchase)
      %td= link_to 'Destroy', in_app_purchase, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New In app purchase', new_in_app_purchase_path
