%p#notice= notice

%p
  %b Module name:
  = @in_app_purchase.module_name
%p
  %b Sandbox:
  = @in_app_purchase.sandbox_id
%p
  %b Production:
  = @in_app_purchase.production_id

= link_to 'Edit', edit_in_app_purchase_path(@in_app_purchase)
\|
= link_to 'Back', in_app_purchases_path
