= form_for @information_page do |f|
  - if @information_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@information_page.errors.count, "error")} prohibited this information_page from being saved:"
      %ul
        - @information_page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :englishname
    = f.text_field :englishname  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :url_link
    = f.text_field :url_link
  .actions
    = f.submit 'Save'
