%h1 Listing information_pages
%table
  %tr
    %th Name
    %th URL
    %th  
    %th

  - @information_pages.each do |information_page|
    %tr
      %td= information_page.name
      %td= information_page.url_link       
      %td= link_to 'Edit', edit_information_page_path(information_page)
      %td= link_to 'Destroy', information_page, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Information page', new_information_page_path
