%p#notice= notice

%p
  %b Name:
  = @information_page.name
%p
  %b Title:
  = @information_page.title
%p
  %b Body:
  = @information_page.body

= link_to 'Edit', edit_information_page_path(@information_page)
\|
= link_to 'Back', information_pages_path
