%table.table.table-condensed.table-bordered 
  %tr
    %th Editor bearbeiten
  = form_for @user do |f|
    - if @user.errors.any?
      .error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    %tr
      %td= f.label :email
      .controls
        %td= f.email_field :email , :autofocus => true ,:required => true
    %tr
      %td= f.label :username
      .controls
        %td= f.text_field :username, :required => true
    %tr
      %td= f.label :password
      .controls
        %td= f.password_field :password  , :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false 
    %tr
      %td= f.label :password_confirmation
      .controls
        %td= f.password_field :password_confirmation,:hint => "we need your current password to confirm your changes", :required => true
    %tr
      %td= f.submit :class => 'btn btn-primary' 
      %td= link_to "Cancel", users_path, :class => 'btn'

