%h1 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Benutzer
        %th Email
        %th Registered
        %th Role
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td=  user.username
          %td= user.email
          %td= user.created_at.to_date
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            %a.btn.btn-mini{:'data-toggle' => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role 
            = render user  unless user == current_user                      
          %td= link_to("bearbeiten", edit_user_path(user), :class => 'btn btn-mini') unless user == current_user    
          %td= link_to("löschen", user_path(user), :data => { :confirm => "Sind Sie sicher?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user  
  = link_to 'Neuer Benutzer', new_user_path