%h1 Editors
.span8
  %table.table.table-condensed.table-bordered 
    %thead
      %tr
        %th Benutzer
        %th Email
        %th Registered
        %th Role
        %th Aktion
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td=  user.username
          %td= user.email
          %td= user.created_at.to_date
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            %a{:'data-toggle' => "modal", :href => "#role-options-#{user.id}"}change-role
            = render user  unless user == current_user       
          %td= link_to("#{image_tag('edit.png')}  bearbeiten".html_safe, edit_user_path(user)) unless user == current_user    
          %td= link_to("#{image_tag('delete.png')} löschen".html_safe, user_path(user), :data => { :confirm => "Sind Sie sicher?" }, :method => :delete) unless user == current_user  
  %tr 
    %td= link_to '+ Neuer Benutzer', new_user_path, :class => 'btn btn-info'