%h1 User
%p
  %strong Email:
  = @user.email
= link_to 'All Users', users_path
|
\#{link_to 'Edit User', edit_user_path(@user)} 
|
\#{link_to 'Delete User', user_path(@user), :method => 'delete', :confirm => 'Are you sure?'}