%table.table.table-condensed.table-bordered 
  %tr
    %th Video bearbeiten
  = form_for @video do |f|
    - if @video.errors.any?
      #error_explanation
        %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
        %ul
          - @video.errors.full_messages.each do |msg|
            %li= msg
            
    %tr 
      %td= f.label :url
      %td= f.text_field :url
    %tr 
      %td= f.label :title
      %td= f.text_field :title
    %tr 
      %td= f.label :description
      %td= f.text_area :description, :rows => 3
    %tr 
      %td= f.label :is_active
      %td= f.check_box :is_active
    %tr 
      %td=f.submit 'Save',:class => 'btn btn-primary'
      %td= link_to "Cancel", videos_path,:class => 'btn'
