%table.table.table-condensed.table-bordered 
  %tr
    %th
    %th Aktiv
    %th URL
    %th Titel
    %th Beschreibung
    %th Aktion
    %th

  - @videos.each do |video|
    %tr
      %td= check_box_tag "published_#{video.id}", video.id, video.is_active, :class => "pub_video"
      %td= (video.is_active) ? "published" : "unpublished"
      %td= video.url
      %td= video.title
      %td= video.description
      %td= link_to 'Edit', edit_video_path(video)
      %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(function() {
    return $(".pub_video").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/videos/pub_unpub_video",
        data: {
          is_active: publish,
          id: id
        },
        success: function(data) {
          return $("#video_content").html(data);
        },
        error: function(object, error) {
          return console.log(error);
        }
      });
    });
  });