%h1 Videos
- if @videos.blank?
  = "No video available."
- else
  %div{:id => 'video_content'}
    = render "videos"

%br
= will_paginate

%br
= link_to '+ Neues Video', new_video_path, :class => 'btn btn-info'

