%p#notice= notice

%p
  %b Url:
  = @video.url
%p
  %b Title:
  = @video.title
%p
  %b Description:
  = @video.description
%p
  %b Is active:
  = @video.is_active

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
