%h1 User Management
- if user_signed_in?
  %p
    Signed in as: #{current_user.username}
  %p= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?'
- else
  %p= link_to 'Log In', new_user_session_path