= form_for @user_lexicon do |f|
  - if @user_lexicon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_lexicon.errors.count, "error")} prohibited this user_lexicon from being saved:"
      %ul
        - @user_lexicon.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.object.date.strftime("%Y-%m-%d %H:%M:%S")
  .field
    = f.label :user
    = f.object.user
  .field
    = f.label :email
    = f.object.email
  .field
    = f.label :issue
    = f.text_area :issue, rows: 3
  .field
    = f.label :reply
    = f.text_area :reply, rows: 3
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
