%table
  %tr
    %th
    %th Is active
    %th Date
    %th User
    %th Issue
    %th Reply    
    %th Aciton
    %th

  - @user_lexicons.each do |user_lexicon|
    %tr
      %td= check_box_tag "published_#{user_lexicon.id}", user_lexicon.id, user_lexicon.is_active, :class => "pub_user_lexicon"
      %td= (user_lexicon.is_active) ? "published" : "unpublished"
      %td= user_lexicon.date.strftime("%Y-%m-%d %H:%M:%S")
      %td= user_lexicon.user
      %td= user_lexicon.issue
      %td= user_lexicon.reply
      %td= link_to 'Edit', edit_user_lexicon_path(user_lexicon)
      %td= link_to 'Destroy', user_lexicon, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(function() {
    return $(".pub_user_lexicon").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/user_lexicons/pub_unpub_user_lexicon",
        data: {
          is_active: publish,
          id: id
        },
        success: function(data) {
          return $("#user_lexicons_content").html(data);
        },
        error: function(object, error) {          
          alert("First answer it.");
          $('#published_' + id).attr("checked", false);                 
        }
      });
    });
  });