%h1 Listing user_lexicons

- if @user_lexicons.blank?
  = "No user lexicons available."
- else
  %div{:id => 'user_lexicons_content'}
    = render "user_lexicons"
%br
= will_paginate

/ # = link_to 'New User lexicon', new_user_lexicon_path
