%p#notice= notice

%p
  %b Date:
  = @user_lexicon.date
%p
  %b User:
  = @user_lexicon.user
%p
  %b Email:
  = @user_lexicon.email
%p
  %b Issue:
  = @user_lexicon.issue
%p
  %b Reply:
  = @user_lexicon.reply
%p
  %b Is active:
  = @user_lexicon.is_active

= link_to 'Edit', edit_user_lexicon_path(@user_lexicon)
\|
= link_to 'Back', user_lexicons_path
