%table.table.table-condensed.table-bordered 
  = form_for @horoscope_weekly do |f|
    - if @horoscope_weekly.errors.any?
      #error_explanation
        %h2= "#{pluralize(@horoscope_weekly.errors.count, "error")} prohibited this horoscope_weekly from being saved:"
        %ul
          - @horoscope_weekly.errors.full_messages.each do |msg|
            %li= msg
    = hidden_field_tag "zodiac_id", (@horoscope_weekly.new_record? ? "" : @horoscope_weekly.zodiac_id), id: "zodiac_id"
    = hidden_field_tag "hro_m_id", (@horoscope_weekly.new_record? ? "" : @horoscope_weekly.id), id: "horo_m_id"
    %tr  
      %td= f.label :Date    
      %td= f.text_field  :date , 'data-behaviour' => 'weekly-datepicker',:value => ( @horoscope_weekly.date ? @horoscope_weekly.date : params[:date] )
    %tr 
      %td= f.label :zodiac_id    
      %td= f.select :zodiac_id, ( @zodiacs.collect {|s| [s[:name], s[:id]]})
    %tr	
      %td= f.label :trends   
      %td= f.text_area :trends, :rows => 3,:class =>"input-block-level"
    %tr
      %td= f.label :dates    
      %td= f.text_area :dates, :rows => 3,:class =>"input-block-level"
    %tr	
      %td= f.label :tip
      %td= f.text_area :tip, :rows => 3,:class =>"input-block-level"
    %tr	
      %td= f.label :published
      %td= f.check_box :published  
    %tr	
      %td=f.submit 'Save',:class => 'btn btn-primary'
      %td= link_to "Cancel", horoscope_weeklies_path,:class => 'btn'

  :javascript
    $('[data-behaviour~=weekly-datepicker]').datepicker({
          format: 'yyyy-mm-dd',          
          "calendarWeeks": true , 
          weekStart: 1,
          autoclose: true,
          gotoCurrent: true  
        });
