%table.table.table-condensed.table-bordered  
  %tr
    %th Aktiv
    %th 
    %th Sternzeichen
    %th Horoskop
    %th Aktion  
    - @horoscope_weeklies.each do |horoscope_weekly|
      %tr
        %td
          - if horoscope_weekly.id.present?
            = check_box_tag "published_#{horoscope_weekly.id}", horoscope_weekly.id, horoscope_weekly.published, :class => "weekly-published"
        %td= horoscope_weekly.published          
        %td= horoscope_weekly.zodiac_name
        %td= horoscope_weekly.trends
        - if horoscope_weekly.id.present?
          %td  
            = link_to  "#{image_tag('edit.png')}  bearbeiten".html_safe, edit_horoscope_weekly_path(horoscope_weekly.id)
            %br= link_to "#{image_tag('delete.png')} löschen".html_safe, horoscope_weekly, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td

:javascript
  $(function() {
    return $(".weekly-published").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/horoscope_weeklies/publish_unpub_horoscope",
        data: {
          publish: id,
          b_val: publish
        },
        success: function(data) {
          return $("#index_content").html(data);
        },
        error: function(object, error) {
          return console.log(error);
        }
      });
    });
  });