%h1 Wochenhoroskop
%form{:id=>"table-form", :action => "",:method => 'get'}
  %input{:type => "hidden",:value => "",:id=>"table-action",:name=>"table-action"}
  %input{:type => "hidden",:value => "token_value",:name=>"authenticity_token"}
  %div
    %input{:type => "text",:name=>"date", :value => params[:date], :id=> 'datepicker-weekly' ,:class=>"hasDatepicker"}
%div{:id => 'index_content'}
  = render 'indexform'

= link_to '+ Neues Horoskop', new_horoscope_weekly_path, {:class => 'btn btn-info', :id => 'new-link'}
%br
%br
