%p#notice= notice

%p
  %b zodiac_id:
  = @horoscope_weekly.zodiac_id
%p
  %b Date:
  = @horoscope_weekly.date
%p
  %b Published:
  = @horoscope_weekly.published

= link_to 'Edit', edit_horoscope_weekly_path(@horoscope_weekly)
\|
= link_to 'Back', horoscope_weeklies_path
