= form_for @horoscope_monthly, html:{class: "horoscope_monthly_form"} do |f|
  - if @horoscope_monthly.errors.any?
    #error_explanation
      %h2= "#{pluralize(@horoscope_monthly.errors.count, "error")} prohibited this horoscope_monthly from being saved:"
      %ul
        - @horoscope_monthly.errors.full_messages.each do |msg|
          %li= msg
  
  = hidden_field_tag "zodiac_id", (@horoscope_monthly.new_record? ? "" : @horoscope_monthly.zodiac_id), id: "zodiac_id"
  = hidden_field_tag "hro_m_id", (@horoscope_monthly.new_record? ? "" : @horoscope_monthly.id), id: "horo_m_id"
  %table.table.table-condensed.table-bordered         
    %tr 
      %td= f.label :date
      %td= f.text_field  :date , 'data-behaviour' => 'monthly-datepicker',:value => ( @horoscope_monthly.date ? @horoscope_monthly.date : Date.today )
    %tr 
      %td= f.label :zodiac_id
      %td= f.select :zodiac_id, (@zodiacs.collect {|s| [s[:name], s[:id]]})

  %table.table.table-condensed.table-bordered{:id=>'test-list'} 
    %tbody.ui-sortable.moon_phases
      = f.fields_for :moon_phases do |moon|
        %tr{:id=>"#{moon.object.priority}"}
          %td
            = moon.label "#{moon.object.phase_name}"
            = moon.hidden_field :phase_name
          %td
            = moon.text_area :data, :rows => 3,:class =>"input-block-level"  
            = moon.hidden_field :priority, {class: 'priority'}

  %table.table.table-condensed.table-bordered 
    %tbody.ui-sortable
      %tr 
        %td= f.label :published
        %td= f.check_box :published 
      %tr
        %td= f.submit 'Save', :class => 'btn btn-primary'
        %td= link_to "Cancel", horoscope_monthlies_path, :class => 'btn'
:javascript
    $('[data-behaviour~=monthly-datepicker]').datepicker({
          format: "yyyy-mm-dd",
          minViewMode: 1,  
          autoclose: true,
          todayHighlight: true,
          gotoCurrent: true           
        });
:javascript
  $("#test-list tbody").sortable({ 
      update : function () { 
        var order = $('#test-list tbody').sortable('toArray'); 
        $('#elementOrder').val(order);
      } 
    });
  $('.horoscope_monthly_form').submit(function() {
    count = 0;
    $('.moon_phases tr td .priority').each(function(){   
      $(this).val(count += 1);
    });
    return true;
  });
  