%table.table.table-condensed.table-bordered  
  %tr
    %th Aktiv
    %th 
    %th Sternzeichen
    %th Horoskop
    %th Aktion   
    - @horoscope_monthlies.each do |horoscope_monthly|
      %tr
        %td
          - if horoscope_monthly.id.present?
            = check_box_tag "published_#{horoscope_monthly.id}", horoscope_monthly.id, horoscope_monthly.published, :class => "monthly-published"
        %td= horoscope_monthly.published          
        %td= horoscope_monthly.zodiac_name
        %td= moon_phase_data(horoscope_monthly)
        - if horoscope_monthly.id.present?
          %td
            = link_to  "#{image_tag('edit.png')}  bearbeiten".html_safe, edit_horoscope_monthly_path(horoscope_monthly.id)
            %br= link_to "#{image_tag('delete.png')} löschen".html_safe, horoscope_monthly, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td
          
:javascript
  $(".monthly-published").bind('change', function(){
    if(this.checked){      
      $.ajax({
        url: '/horoscope_monthlies/publish_unpub_horoscope',
        dataType: 'html',
        type: 'POST',        
        data: {publish: $(this).val()+ ",", b_val: "true"},
        success: function(data){           
             $("#index_content").html(data);
          },
       error: function(object, error){ console.log (error);   }
      });
    }
    else{
       $.ajax({
        url: '/horoscope_monthlies/publish_unpub_horoscope',
        type: 'POST',
        dataType: 'html',        
        data: {publish: $(this).val(), b_val: "false"},
        success: function(data){           
             $("#index_content").html(data);
          } 
      });
    }
  });

