%p#notice= notice

%p
  %b Zodiac:
  = @horoscope_monthly.zodiac_id
%p
  %b Date:
  = @horoscope_monthly.date
%p
  %b Published:
  = @horoscope_monthly.published
%p
  %b Full moon:
  = @horoscope_monthly.full_moon
%p
  %b Quarter moon 1:
  = @horoscope_monthly.quarter_moon_1
%p
  %b New moon:
  = @horoscope_monthly.new_moon
%p
  %b Quarter moon 2:
  = @horoscope_monthly.quarter_moon_2
%p
  %b Health:
  = @horoscope_monthly.health

= link_to 'Edit', edit_horoscope_monthly_path(@horoscope_monthly)
\|
= link_to 'Back', horoscope_monthlies_path
