%table
  %tr
    %th
    %th Active
    %th Date
    %th Title
    %th Season
    %th Star Sign
    %th Horoscope
    %th Action    
    %th
    
  - @astro_extras.each do |astro_extra|
    %tr
      %td= check_box_tag "published_#{astro_extra.id}", astro_extra.id, astro_extra.is_active, :class => "pub_astro_extra"
      %td= (astro_extra.is_active) ? "published" : "unpublished"
      %td
        - if astro_extra.season
          = "#{astro_extra.season.date_from} to #{astro_extra.season.date_to}"
      %td= astro_extra.title
      %td
        - if astro_extra.season
          = astro_extra.season.name
      %td= astro_extra.zodiac.name
      %td= astro_extra.horoscope
      %td= link_to 'Edit', edit_astro_extra_path(astro_extra)
      %td= link_to 'Destroy', astro_extra, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(function() {
    return $(".pub_astro_extra").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/astro_extras/pub_unpub_astro_extra",
        data: {
          is_active: publish,
          id: id
        },
        success: function(data) {
          return $("#astro_extra_content").html(data);
        },
        error: function(object, error) {
          return console.log(error);
        }
      });
    });
  });