= form_for @astro_extra, :html => {:multipart => true} do |f|
  - if @astro_extra.errors.any?
    #error_explanation
      %h2= "#{pluralize(@astro_extra.errors.count, "error")} prohibited this astro_extra from being saved:"
      %ul
        - @astro_extra.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :season_id
    = f.select :season_id, (@seasons)
    
  .field
    = f.label :zodiac
    = f.select :zodiac_id, ( @zodiacs.collect {|s| [s[:name], s[:id]]})
  .field
    = f.label :horoscope
    = f.text_area :horoscope, :rows => 3,:class =>"input-block-level"
  .field
    = f.label :image
    = f.file_field :image, class: 'preview_image'          
    = image_preview(f)
  - if @astro_extra.image?
    .field.remove_uploaded   
      %label
        Remove:
        = f.check_box :remove_image

  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
  