%h1 Listing astro_extras

- if @astro_extras.blank?
  = "No astro extra available."
- else
  %div{:id => 'astro_extra_content'}
    = render "astro_extras"

%br

= link_to 'New Astro extra', new_astro_extra_path
