%p#notice= notice

%p
  %b Date from:
  = @astro_extra.date_from
%p
  %b Date to:
  = @astro_extra.date_to
%p
  %b Title:
  = @astro_extra.title
%p
  %b Season:
  = @astro_extra.season
%p
  %b Zodiac:
  = @astro_extra.zodiac
%p
  %b Horoscope:
  = @astro_extra.horoscope
%p
  %b Image:
  = @astro_extra.image
%p
  %b Is active:
  = @astro_extra.is_active

= link_to 'Edit', edit_astro_extra_path(@astro_extra)
\|
= link_to 'Back', astro_extras_path
