%li.nav-header
  %a{"data-target" => "#userMenu", "data-toggle" => "collapse", :href => "#"}
    Admin
    %i.icon-angle-down
  %ul#userMenu.collapse.in{:style => "list-style: none;"}
    %li.active
      %a{:href => "#"}
        %i.icon-user>
        = link_to 'Editor', users_path
%li.nav-header
  %a{"data-target" => "#horoskopesMenu", "data-toggle" => "collapse", :href => "#"}
    =image_tag 'menu_icon_horoscopes.png'
    Horoscope    
  %ul#horoskopesMenu.collapse{:style => "list-style: none;"}
    %li
      =image_tag 'sub_menu_icon_daily.png'
      = link_to "Daily", horoscope_dailies_path, :class => 'brand'
    %li
      =image_tag 'sub_menu_icon_weekly.png'
      = link_to  "Weekly", horoscope_weeklies_path, :class => 'brand'
    %li
      =image_tag 'sub_menu_icon_monthly.png'
      = link_to  "Monthly", horoscope_monthlies_path, :class => 'brand'
%li.nav-header
  %a{"data-target" => "userLexiconMenu", "data-toggle" => "collapse", :href => "#"}
    = image_tag 'menu_icon_dictionary.png'
    = link_to "User Lexicon", user_lexicons_path    
%li.nav-header
  %a{"data-target" => "astroExtraMenu", "data-toggle" => "collapse", :href => "#"}
    =image_tag 'menu_icon_astro-extra.png'
    = link_to "Astro Extra", astro_extras_path, :class => 'brand'
    %i.icon-angle-right
%li.nav-header
  = image_tag 'menu_icon_videos.png'
  = link_to "Videos", videos_path
%li.nav-header
  =image_tag 'menu_icon_vouchers.png'
  = link_to "Vouchers", vouchers_path, :class => 'brand'
  %i.icon-angle-right

%li.nav-header
  %a{"data-target" => "#settings", "data-toggle" => "collapse", :href => "#"}
    =image_tag 'menu_icon_horoscopes.png'
    Settings    
  %ul#settings.collapse{:style => "list-style: none;"}
    %li
      =image_tag 'sub_menu_icon_daily.png'
      = link_to "Astro Extra", seasons_path, :class => 'brand'
    %li
      =image_tag 'sub_menu_icon_weekly.png'
      Zodiac
    %li
      =image_tag 'sub_menu_icon_daily.png'
      = link_to "Info-Pages", information_pages_path, :class => 'brand'
    %li
      =image_tag 'sub_menu_icon_daily.png'
      = link_to "Products", in_app_purchases_path, :class => 'brand'
%li.nav-header
  =image_tag 'menu_icon_vouchers.png'
  = link_to "Kontakt", view_page_path('kontakt'), :class => 'brand'
%li.nav-header
  =image_tag 'menu_icon_vouchers.png'
  = link_to "Mauretania", view_page_path('mauretania'), :class => 'brand'
%li.nav-header
  =image_tag 'menu_icon_vouchers.png'
  = link_to "Hilfe", view_page_path('hilfe'), :class => 'brand'
%li.nav-header
  =image_tag 'menu_icon_vouchers.png'
  = link_to "Impressum", view_page_path('impressum'), :class => 'brand'
   