// = link_to "Horoskop", root_path, :class => 'brand'
%div.nav-collapse.collapse
  %ul.nav
    - if user_signed_in?    
      - if current_user.has_role? :admin
        %li
          = image_tag('logo.png')
        %li
          = "Angemeldet als #{current_user.username } " 
        %li      
          = link_to  'Logout', destroy_user_session_path, :method=>'delete' ,:class => 'btn btn'  
  %ul.nav
    - if user_signed_in?
      - if current_user.has_role? :editor
        %li
          = image_tag('logo.png')
        %li
          = current_user.username
        %li      
          = link_to  'Logout', destroy_user_session_path, :method=>'delete' ,:class => 'btn btn'  
    - else
      %li
        = link_to 'Login', new_user_session_path

