!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Horoskop"
    %meta{:content => content_for?(:description) ? yield(:description) : "Horoskop", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      %div.container-fluid
      %div.row-fluid
        %div.span3
          %div.well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Horoskop
              %li.active
                = render 'layouts/navigation'
        %div.span9
          = yield          
      .container
        .content
          .row
            .span12              
              = render 'layouts/messages'              
              = yield
          %footer
      / ! end of .container
    / ! end of #main