!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Horoskop"
    %meta{:content => content_for?(:description) ? yield(:description) : "Horoskop", :name => "description"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
  - if user_signed_in?
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          = render 'layouts/topbar'    
    %div.container-fluid
      %div.row-fluid
        %div.span3
          %div.well.sidebar-nav
            = render 'layouts/navigation'
        %div.span9
          = render 'layouts/messages' 
          = yield    
  - else    
    %div.span9
      .container
        = render 'layouts/messages' 
        = yield    
    %footer
      / ! end of .container
    / ! end of #main