= form_for @voucher do |f|
  - if @voucher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voucher.errors.count, "error")} prohibited this voucher from being saved:"
      %ul
        - @voucher.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :valid_days
    = f.number_field :valid_days
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
