%table
  %tr
    %th
    %th Active
    %th Name
    %th Code
    %th Vaild days
    %th
    %th
    %th

  - @vouchers.each do |voucher|
    %tr
      %td= check_box_tag "published_#{voucher.id}", voucher.id, voucher.is_active, :class => "pub_voucher"
      %td= (voucher.is_active) ? "published" : "unpublished"
      %td= voucher.name
      %td= voucher.code
      %td= voucher.valid_days
      %td= link_to 'Show', voucher
      %td= link_to 'Edit', edit_voucher_path(voucher)
      %td= link_to 'Destroy', voucher, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  $(function() {
    return $(".pub_voucher").on("change", function() {
      var id, publish;
      publish = $(this).is(":checked");
      id = $(this).val();
      return $.ajax({
        type: "POST",
        dataType: "html",
        url: "/vouchers/pub_unpub_voucher",
        data: {
          is_active: publish,
          id: id
        },
        success: function(data) {
          return $("#voucher_content").html(data);
        },
        error: function(object, error) {
          return console.log(error);
        }
      });
    });
  });