%h1 Listing vouchers

- if @vouchers.blank?
  = "No voucher available."
- else
  %div{:id => 'voucher_content'}
    = render "vouchers"

%br
= will_paginate
%br
= link_to 'New Voucher', new_voucher_path
