%p#notice= notice

%p
  %b Name:
  = @voucher.name
%p
  %b Code:
  = @voucher.code
%p
  %b Vaild days:
  = @voucher.valid_days
%p
  %b Is active:
  = @voucher.is_active

= link_to 'Edit', edit_voucher_path(@voucher)
\|
= link_to 'Back', vouchers_path
